.wrapper {

}
.navBar {
  text-align: center;
}
.nav-input {
  width: 15%;
  transition: 0.4s ease-in-out;
  margin: 10px;
  padding: 7px;
  border: 1px solid #908f8f; 
}
.nav-input:focus {
  width: 30%; 
  outline-color: #f4f4f4; 
}
.nav-button {
  padding: 7px 25px;

}
.main-poster {
  display: flex;
  flex-wrap: wrap;
}
.movie {
  width: 200px;
  padding-left: 30px;

}
.movie img {
  width: 150px;
}

.page {
  width: 200px;
  height: 100px;
  overflow: hidden;
}